{% extends 'gram_temp/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="margin-top:7%;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <div class="row">
                <button class="btn btn-sm btn-outline-primary ml-4 mb-3" data-toggle="modal" data-target="#imageUpload">
                    Upload Image
                </button>
                <div class="modal fade" id="imageUpload" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Image Upload</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button class="btn btn-sm btn-success">Upload</button>
                                    <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">
                                        Close
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% for image in images %}
            <div class="card mb-4">
                <div class="card-title">
                    <img src="{{image.user.profile_picture.url}}" class="rounded-circle border ml-3 mt-2  mr-3"
                        alt="{{image.user.user.username}}" width="35" height="35">
                    <a href="{% url 'user_profile' image.user.user.username  %}"
                        class="mt-4 user">{{image.user.user.username|title}}</a>
                </div>
                <div class="card-body mb-4">
                    <a href="{% url 'comment' image.id %}">
                        <div class="card-text">
                            <img src="{{image.image.url}}" class="card-img" width="100%" />
                        </div>
                    </a>
                </div>
                <div class="iconic ml-2">
                    <button class="btn btn-sm" type="submit" name="image_id" value="{{image.id}}">
                        <a href="{% url 'comment' image.id %}"><i class="far fa-heart hearticon mx-auto"
                                aria-hidden="true"></i></a>
                    </button>
                    <button class="btn btn-sm" type="submit"><a href="{% url 'comment' image.id %}"><i
                                class="far fa-comment hearticon mx-auto" aria-hidden="true"></i>
                        </a></button>
                </div>
                <span class="ml-4 mb-1"><strong>{{image.likes.count}}
                        like{{image.likes.count|pluralize}}</strong></span>
                <span class="text-secondary ml-4 viewall"><a href="{% url 'comment' image.id %}">view all
                        {{image.comments.count}} comment{{image.comments.count|pluralize}}</a></span>
                <div class="allcomments mb-4">
                    {% for comment in image.comments.all|slice:'2' %}
                    <div class="comment">
                        <div class="ml-4"><strong>{{ comment.user.user.username }}</strong> <span
                                class="text-secondary">{{ comment.comment }}</span>
                        </div>
                    </div>
                    {% empty %}
                    {% endfor %}
                    <p class="text-secondary ml-4">{{image.created|timesince}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-4 mt-4 userinfo">
            <div class="row">
                <div class="col-md-3 ml-2">
                    <img class="rounded-circle user-img" src="{{ user.profile.profile_picture.url }}">
                </div>
                <div class="col-md-6 mt-4 user-detail">
                    <span class=" text-secondary"><a
                            href="{% url 'user_profile' user.username %}">{{ user.username }}</a></span> <br>
                    <span class=" inname">{{ user.profile.name }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="card mt-4 mr-2 ml-2">
                        <div class="card-title text-secondary mt-2 mr-2 ml-2 ">Suggestions</div>
                        {% for user in users %}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2 mr-3 mt-1 mb-2">
                                    <img class="rounded-circle" src="{{ user.profile.profile_picture.url }}"
                                        width="45px" height="45px">
                                </div>
                                <div class="col-md-6 mr-2 mt-2">
                                    <span><a href="{% url 'user_profile' user.username  %}">{{user.username}}</a></span>
                                </div>
                                <div class="col-md-4">
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>


        </div>

    </div>

</div>

{% endblock %}