<div class="navbar fixed-top bg-white">
    <nav class="container">
        <span class="navbar-brand mb-0 h1">
            <a href="/">
                <div id="brand" class="instaicon logo d-none d-sm-block"></div>
                <div class="instaicon mainicon d-block d-sm-none"></div>
            </a>
        </span>
        <form class="mb-0 h1 ml-auto mr-auto" id="searchform" action="{% url 'search' %}">
            <input name="search_user" autocomplete="off" id="searching" class="form-control d-none d-md-block"
                placeholder="Search User">
            <i class="spinner "></i>
        </form>
        <span class="pull-right">
            <a href="{% url 'profile' user.username %}" class="instaicon pers"></a>
        </span>
    </nav>
</div>