{% extends 'gram_temp/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid" style="margin-top:8%">
    <div class="content-section">
        <div class="media">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        <img class="rounded-circle account-img" src="{{ user_prof.profile.profile_picture.url }}">
                    </div>
                    <div class="col-md-6 mt-3">
                        <div class="media-body">
                            <div class="account-heading">
                                <span class="mr-3 text-secondary username">{{ user_prof.username }}</span>
                                {% if follow_status %}
                                <a class="btn btn-sm btn-outline-danger ml-5"
                                    href="{% url 'unfollow' user_prof.profile.id %}">Unfollow</a>

                                {%else%}

                                <a class="btn btn-sm btn-primary ml-5"
                                    href="{% url 'follow' user_prof.profile.id %}">Follow</a>
                                {% endif %}


                            </div>
                        </div>

                        <div class="post-details mt-3 mb-3">
                            <span class=""><strong>{{user_posts.count}}</strong> Posts</span>
                            <span class=""> <strong>{{ user_prof.profile.followers.count }}</strong>
                                followers</span>
                            <span class=""> <strong>{{ user_prof.profile.following.count }}</strong>
                                following</span>
                        </div>
                        <h5>{{ user.profile.name }}</h5>
                        <p class="text-secondary">{{ user.profile.bio }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-4">
    <div class="card-columns">
        {% for image in user_posts %}
        <div class="card">
            <div class="card-body parent ">
                <div class="im">
                    <img src="{{image.image.url}}" alt="{{image.caption}}" class="card-img">
                    <p id="overlay" class="text">
                        <i class="fas fa-heart" style="color:white; font-size: 18"></i>
                        <span style="color: white">{{image.likes.count}}</span>
                        <i class="fas fa-comment ml-4" style="color: white"></i> <span
                            style="color: white">{{image.comments.count}}</span></p>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}